{% extends 'base-back.html.twig' %}

{% block title %}Matchs index{% endblock %}

{% block body %}
    <h1>Matchs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateMatch</th>
                <th>RefMatch</th>
                <th>ScoreA</th>
                <th>ScoreB</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.id }}</td>
                <td>{{ match.dateMatch ? match.dateMatch|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ match.refMatch }}</td>
                <td>{{ match.scoreA }}</td>
                <td>{{ match.scoreB }}</td>
                <td>
                    <a href="{{ path('matchs_show', {'id': match.id}) }}">show</a>
                    <a href="{{ path('matchs_edit', {'id': match.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('matchs_new') }}">Create new</a>
{% endblock %}
